---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import heroImage from "assets/logo-bubble.jpg";
import googlePlayBadge from "assets/google-play-badge.png"
import appStoreBadge from "assets/app-store-badge.svg"
import Link from "@components/ui/link.astro";
---
<script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
<Layout title="Bubble">
  <Container>
    <Hero />
    <main
      class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
      <div class="py-6 md:order-1 hidden md:block">
        <lite-youtube class="w-96 aspect-[9/16] rounded-lg" videoid="ZTIBMUtOT8I">
          <a class="lite-youtube-fallback" href="https://www.youtube.com/watch?v=ZTIBMUtOT8I">Ver en YouTube: "Demo ¿Ya platicaste con Bubble?"</a>
        </lite-youtube>
      </div>
      <div>
        <h1
          class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
          ¿Ya platicaste con Bubble?
        </h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl">
          Te presento a Bubble, tu asistente para reducir tu tiempo en pantalla.
        </p>
        <div class="mt-6 flex flex-col sm:flex-row gap-3 items-center">
          <Link href="https://cdn.botpress.cloud/webchat/v2.1/shareable.html?botId=9624af27-69f1-481d-942d-26419829684f" size="md">Platica con Bubble</Link>
        </div>
      </div>
    </main>
    <Cta />
  </Container>
</Layout>
